<!-- Page info -->
<div class="page-top-info">
<div class="container">
    <h4>Products</h4>
    <div class="site-pagination">
        <a href="">Home</a> /
        <a>Products</a>
    </div>
</div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <div class="row">
            
            <!--  Filtering   -->
            <div class="col-lg-3 order-2 order-lg-1">

                 <!-- Filter by Category -->
                <div class="filter-widget">
                    <h2 class="fw-title">Categories</h2>
                    <ul class="category-menu" *ngFor="let category of categories" >
                        <li><a>{{category.name}}</a></li>
                    </ul>
                </div>


                <!-- Filter by Price -->
                <div class="filter-widget mb-0">
                    <h2 class="fw-title">refine by</h2>
                    <div class="price-range-wrap">
                        <h4>Price</h4>
                        <div class="range-slider">
                            <div class="price-input">
                                <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                            </div>
                        </div>
                    </div>
                </div>


                  
                <!-- Filter by Color -->
                <div class="filter-widget mb-0">
                    <h2 class="fw-title">color </h2>
                    <div class='row'>
                        <mat-checkbox *ngFor="let color of ProductColorstDd" class="col-md-6"
                            value='color.id'>{{color.name}}</mat-checkbox>
                    </div>
                </div>
                <br>


                 
                <!-- Filter by Size -->
                <div class="filter-widget mb-0">
                    <h2 class="fw-title">size </h2>
                    <div class='row'>
                        <mat-checkbox *ngFor="let size of ProductSizesDd" class="col-md-6"
                            value='size.id'>{{size.name}}</mat-checkbox>
                    </div>
                </div>
                <br>

            </div>


            <!-- products -->
            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    <div class="col-lg-4 col-sm-6" *ngFor="let product of products">
                        <div class="product-item">
                            <div class="pi-pic">
                                <carousel [noPause]="false" [interval]=0>
                                    <slide *ngFor="let image of product.productPhotos">
                                        <div *ngIf="product.onSale" class="tag-sale">ON SALE</div>
                                        <a [routerLink]="['/viewProduct/', product.id]">
                                            <img src="{{imagesApi +  image.url}}" style="display: block; height: 350px;">
                                        </a>
                                    </slide>
                                </carousel>        
                                <div class="pi-links">
                                    <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                    <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>QR {{product.price}}</h6>
                                <p>{{product.name}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center w-100 pt-3">
                        <button class="site-btn sb-line sb-dark">LOAD MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>