<br><br>

<section class="footer-section">
		<div class="container">

			<div class="footer-logo text-center">
				<a href="index.html"><img src="../../assets/img/logo-light.png" alt=""></a>
            </div>
            
			<div class="row" style="margin:auto;width: 50%;">

				<div class="col-lg-6 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p>We Sell Women Clothes in Qatar.</p>
					</div>
				</div>
                
				<div class="col-lg-6 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2></h2>
						<div class="con-info"><span>L.</span><p>Beside Villgio Mall </p></div>
						<div class="con-info"><span>T.</span><p>+974 74740759</p></div>
						<div class="con-info"><span>E.</span><p>info@She.com</p></div>
					</div>
                </div>

			</div>
        </div>
        
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links" style="text-align: center;">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="https://www.facebook.com/Nagah.elgend/" target="_blank" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
				</div>
                <p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
			</div>
		</div>
	</section>