
<carousel>
    <slide *ngFor="let image of slides">
        <img [src]=image style="width:100%; max-height: 720px;">
            <div class="row offer-details text-white">
                <div class="col-md-8">
                    <span>New Arrivals</span>
                    <h2>denim jackets</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    <a href="#" class="site-btn sb-line mr-4">DISCOVER</a>
                    <a href="#" class="site-btn sb-white">ADD TO CART</a>
                </div>
           
                <div class="offer-card text-white col-md-2">
                    <span>from</span>
                    <h4>QR 29</h4>
                    <p>SHOP NOW</p>
                </div>
            </div>
    </slide>
</carousel>

<br><br>


<app-latest-products></app-latest-products>
<br>

<app-top-selling></app-top-selling>
<br>

<app-footer-banner></app-footer-banner>
<br>

