<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="openModal(template)">
      <i class="fa fa-plus-circle mr-2"></i>Add Subcategory
    </button>
    <br>

    <div class="card" style="min-width:500px; display: inline-block;">
      <div class="card-header">
        <h4 class="card-title">Subcategories</h4>
      </div>
      <div class="card-body">
          <table class="table table-hover table-sm">
            <thead class="text-primary" >
              <th *ngFor="let header of tableTitles">{{header}}</th>
            </thead>

            <tbody>
              <tr *ngFor="let subcategory of modelsList;let index=index">
                <td> {{index+1}} </td>

                <td class="text-left"> 
                  <a (click)="edit(subcategory)">
                  <span *ngIf="subcategory !== editmodel">{{subcategory.name}}</span>
                  <input *ngIf="subcategory === editmodel" [(ngModel)]= "subcategory.name"
                    (blur)="update()">
                  </a>
                </td>

                <td class="text-left"> 
                  <a (click)="edit(subcategory)">
                  <span *ngIf="subcategory !== editmodel">{{subcategory.categoryName}}</span>

                  <select *ngIf="subcategory === editmodel" (change)="update($event.target.value)" class="form-control">
                      <option value="0">choose category</option>
                      <option *ngFor="let category of categoriesList" value="{{category.id}}">{{category.name}}</option>
                  </select>
                  </a>
                </td>

                <td (click)='delete(subcategory.id)' class="text-danger text-left">
                  <i class="fa fa-trash-o"></i>
                </td>
              </tr>
            </tbody>

          </table>
      </div>
    </div>
  </div>
</div>



<!-- Create New Category -->
<ng-template #template>
<div class="modal-header">
  <h4 class="modal-title pull-left">Create subcategory</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <input id="modelName" class="form-control" #modelName placeholder="Enter subcategory name" tabindex="1">

  <select id="modelCategoryId" class="form-control" #modelCategoryId>
      <option value="0">choose category</option>
      <option *ngFor="let category of categoriesList" value="{{category.id}}">{{category.name}}</option>
  </select>

  <input (click)="addModel(modelName.value, modelCategoryId.value)" type="button" value="Add" class="btn btn-sm btn-outline-primary " tabindex="3">
</div>

</ng-template>